.black-and-white {
	background: black !important;
	color: white !important;
	margin-bottom: 8px;
	border-color: black !important;
	box-shadow: none !important;
}

.black-and-white :hover {
	opacity: 0.95;
}
